@charset "UTF-8";


/*
    Se em HTML é <id>, então em CSS é #
    Se em HTML é <class>, então em CSS é . 
*/

body{
    background-color: rgb(93, 255, 147);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(18, 185, 18);
}

h1#principal{/*NÃO precisa colocar o h1*/
    background-color: rgb(18, 185, 18);
    text-align: center;
    color: white;
}

h2{
    color: rgb(19, 88, 12);
}

.basico{
    color: rgb(116, 40, 187);

}

.intermediario{
    color: rgb(82, 25, 136)
}

.avancado{
    color: rgb(51, 16, 83);
}
.importante{
    font-weight: bolder;
    background-color: rgba(255, 255, 0, 0.596);
}