@charset "UTF-8";

@font-face { font-family: 'Principal'; src:url('Fontes/passion_one/PassionOne-bold.otf') format('opentype')
}

@font-face { font-family: 'Poema'; src:url('Fontes/sriracha/Sriracha-Regular.ttf') format('truetype')
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    text-decoration: underline;
}

strong{
    font-weight: bolder;

}
body{
    margin:0px 0px 0px 0px;
    padding-bottom: 0px;
    
}

header{
    background-color: black;
    padding-bottom:10px;
    
    
}

header>h1{
    color: white;
    text-align: center;
    margin:0px;
    font-family:Principal, sans-serif  ;
    font-size: 10vw;
    padding-top: 45px;
    
}

header>p{
    color: white;
    text-align: center;
    font-size: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    font-family: Poema,sans-serif;
    text-align:left ;
}

div.texto{
    white-space: pre-line;
    padding-bottom:20px ;
    text-align: justify;
    padding-left: 20px;    
}

#img1{
    background-image: url(imagens/Joaninha.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    height: 60vw;
    display: flex;

}

#img1>p{
    background-color: rgba(0, 0, 0, 0.336);
    white-space: pre-line;
    display: inline-block;
    margin-left: 20px;
    padding-left: 3px;
    padding-right:20px ;
    color: white;
    position: relative ; 
    font-size: 04vw;
    
}



#img2{
    background-image: url(imagens/pergaminho.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 60vw;
    display: flex;
}



#img2>p{
    background-color: rgba(0, 0, 0, 0.336);
    white-space: pre-line;
    display: inline-block;
    margin: auto;
    margin-left: 20px;
    padding-left: 3px;
    padding-right:20px ;
    color: white;
    position: relative ;
    font-size: 04vw;
    text-align: left;
}


.texto>p{
    font-size: 4vw;
    text-align: justify;
}

footer>p{
    color: white;
    background-color: black;
    text-align: center;
    margin-bottom: 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}