@charsetUTF-8;
        body{
            background-color: 
            rgb(194, 196, 120);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 20px;
        }

        h1{
            color: rgb(255, 0, 0);
            background-color: rgb(241, 198, 6)
        }
        
        h2{
            color: rgb(255, 0, 0);
            ;
        }
        p{
            text-align: justify;
        }
    